*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("c.jpg");
	background-position: center;
	background-size: cover;
	color: white;
	font-family: sans-serif;
}
#wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgbq(0,0,0,0,3);
	backdrop-filter: blur(8px);
	padding: 40px 80px;
	border-radius: 10px;
}
#title{
	font-size: 60px;
	font-family: "Pacifico",cursive;
}
#minuteur{
	display: grid;
	grid-template-columns: repeat(4, 200px);
	gap: 25px;
	margin: 10vh auto;
}
.box{
	height: 200px;
	text-align: center;
	background-color: #1b1b1b;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}
.box > div:first-child{
	font-size: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	padding: 20px;
}
.unite{
	padding: 10px 20px;
	background-color: #0a0a0a;
	font-size: 20px;
}